apiVersion: eksctl.io/v1alpha5
kind: ClusterConfig

metadata:
  name: {{EKS_CLUSTER}}
  region: {{AWS_REGION}}
  version: "1.31"

iam:
  withOIDC: true

managedNodeGroups:
  - name: standard-nodes
    instanceType: t3.medium
    minSize: 2
    maxSize: 4
    desiredCapacity: 2
    volumeSize: 20
    ssh:
      allow: true
    labels:
      role: worker
    iam:
      withAddonPolicies:
        imageBuilder: true
        autoScaler: true
        cloudWatch: true
