# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.aws_creds

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Misc
.env
.venv/
venv/
*.swp
*.bak
level_3-ecsexpress/backend/app/biometric_agent/.adk/
level_3-ecsexpress/backend/app/biometric_agent/__pycache__/
level_3-ecsexpress/.requirements_installed

__pycache__

agents/researcher/.adk/
agents/researcher/agent.pid
agents/content_builder/.adk/
agents/orchestrator/.adk/

agents/judge/.adk/
agents/judge/agent.pid
*.log

agents/orchestrator/agent.pid
agents/content_builder/agent.pid

.requirements_installed
